.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  /* background: white; */
  margin-bottom: 2em;
  flex: 0 1 24%;
}

.card-content {
  padding: 0.5em;
  background-color: #c6c1be;
}

.card-content h3 {
  margin-top: 0;
  margin-bottom: 0.5em;
  font-weight: bold;
  color: maroon;
}

.card-content p {
  font-size: 80%;
  color: darkslategrey;
}

.content-petname {
  color: darkslategrey;
}

.card button:hover {
  background-color: maroon;
}

.box.container.task {
  background-color: #f7c9b6;
  margin-left: 18%;
  margin-right: 18%;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
    0 0px 0 9px rgba(10, 10, 10, 0.02);
}

.title.is-4.task {
  background-color: #dae7dd;
}

.tile.is-child.box.task {
  min-width: min-content !important;
  margin-left: 20%;
  margin-right: 20%;
}

.tile.is-vertical.is-parent.task {
  min-width: min-content !important;
  margin-left: 20% !important;
  margin-right: 20% !important;
}

hr {
  margin: 0% !important;
}
