.review-container-card {
    display: flex;
    flex-direction: column;
    margin: 1em;
    border-radius: 5px;

    color: rgb(255, 255, 255) !important;
}
.review-card-container {
background-color: #FECCC3;
padding: 1em;
}

.review-card-content {
border: 7px solid #FEF9F3;
background-color: #EAECEB;
display: flex;
flex-direction: column;

}

textarea{
width:250px;
height:100px;
}

.card-content.review{
    border-style:solid;
    border-color: #DAE7DD;
}

.box.container.review{
    background-color: #DBC39A;
    margin-right: 20%;
    margin-left: 20%
}

.box.review {
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 5px;
}
.box.review.reviewForm {
    border-style: solid;
    border-color: #DAE7DD;
}