

  .card-footer-item {
    background-color: #FECCC3;
  }
  .card-notebook {
    border-style: solid;
    border-color: #C6C1BE;
  }

  .card-footer {
    display: block;
    justify-content: space-evenly;
    align-content: center;
  }

  .tile.box {
    justify-content: space-evenly;

  }

  .card-container {
    width: 200px!important;
  }

  .tile.is-ancestor {
   margin-left: 0% !important;
   margin-right: 0% !important;
    margin-top: -0.75rem !important;
  }

  .buttonsNotebookContainer {
    display: flex;
    justify-content: space-evenly;
  }

  .box.container.notebook {
    max-width: 600px;
    margin-top: 5em;
    background-color: white;
    border-style: solid;
    border-color: #DAE7DD;

}

.notebookImg {
  height: auto;
  width: 40%;
  display: flex;
  align-self: center;
  margin-left: 29%
}

.title.is-4 {
  margin-left: 10%;
  margin-right: 10%;
}