
    /* Add shadows to create the "card" effect */
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s; */
    /* border-radius: 5px; 
    margin-bottom: 2em;
    flex: 0 1 24%;
    margin-top: 3%;
  }
  
  .card-content {
    padding: .5em;
    border-color:black;
  }
  
  .card-content h3 {
    margin-top: 0;
    margin-bottom: .5em;
    font-weight: bold;
    color: maroon;
  }
  
  .card-content p {
    font-size: 80%;
    color: darkslategrey;
    margin-top: 3%;
  }

  .content-notebookSubject {
    color: darkslategrey;
  }
/* 
  .card button {
    background-color: #FECCC3;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    padding: .5em;
    border-radius: 2px;
    margin: .1em;
    width: 100%;
  } */

  /* .card button:hover {
    background-color: darkblue;
  }

  .notebookCardContain {
    max-width: 300px;
    background-color: #EAECEB;
    margin:20px
  }
  .notebook-card-content {
    max-width: 300px;
    margin: 1px;
    min-height: 200px;
    border-style: dotted;
    border-color: #FECCC3;
  }
  .notebooksCardContainer {
    max-width: 500px;
  }

  .container-card-notebook {
    border-radius: 5px;
  } */


  /* .card-notebook {
  min-height: 400px;
   background: url(http://www.clker.com/cliparts/o/K/6/C/7/U/spiral-notebook.svg.hi.png);
   background-size: cover;
  } */

  .card-footer-item {
    background-color: #FECCC3;
  }
  .card-notebook {
    border-style: solid;
    border-color: #C6C1BE;
  }