/* .friendsListCard { */
    /* background-color: #C6C1BE; */
    /* color:black;
    justify-content: flex;
    flex-direction: row;
    width: 100%;
} */
/* .friendCardNav {
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-direction: column;
    margin: 5px;
    max-width: 200px
}
.friends-container-card {
    max-width: 100%
}
.deleteFriend {
    background-color: #FECCC3;
    color: black;

} */

/* .container-cards {
    background-color:#EAECEB;
    color: black;
    margin: 2px;
    display: flex; */
    /* flex-direction: row; */
    
/* } */

/* .tasksCard {
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    max-width: 700px;
    min-width: 350px;
}


.friendListContainer {
    display: flex;
    justify-content: space-between;
    align-self: stretch;
     */
    /* flex-direction: row; */
/* } */

/* .notebooksCardContainer {
    background-color: #C6C1BE;
    min-height: 300px;
    align-self: center;
    min-width: 40%;
}

.btn-to-notebooks {
    min-height: 300px;
    align-self: left;
}
.card-deadline {
    color: black;
}


img {
    max-height: 20%;
    max-width: 15%;
    margin-left: 43%;
    align-self: center;
    display: flex;
    justify-content: center;
    border-style: solid;
    border-color: #C6C1BE;
}

.notebooks-deadline-card
{
    display: flex;
    justify-content: column;
    margin-left: 10%;
    margin-right:10%
}

.deadlineCardContainer {
    display: flex;
    max-width: 50%;
    margin: 0%

}
.container-card-deadline {
    min-width:50%
} */

.column.friends {
    display: flex;
    flex-direction: row;
}

.friend.home {
    display: flex;
    flex-direction: row;
}

.content-friends {
    display:flex;
    flex-direction: row;;
}
.tile.is-child.box.friend {
    display:flex;
    flex-direction: row;

}

.notebooksCardContainer-home {
    display: flex;
    flex-flow: wrap;
}

.tile.is-child.box.notebooks {
    display: flex;
    justify-content: space-evenly;
    flex-flow: wrap;
}

/* .home-notebooks {
    display: flex;
   align-items: inherit;
   justify-content: center;
   /* You can set flex-wrap and
      flex-direction individually */
  
   /* tweak where items line
      up on the row
      valid values are: flex-start,
      flex-end, space-between,
      space-around, stretch */

 

.home-notebooks {
    display: flex;
    justify-content: center;
    /* You can set flex-wrap and
       flex-direction individually */
    flex-direction: row;
    flex-wrap: wrap;
}

.noteImgContainer {
    display: flex;
    justify-content: center;
    
}

.imgHomeNotebook {
    max-width: 400px;
}

.tile.is-child.box.pic {
    border-style: solid;
    border-color: #DAE7DD;
    border-width: thick;
    margin-top: 10%;
}

.tile.is-child.box.notebooks {
    border-style: solid;
    border-color: #F7C9B6;
    border-width: thick;
    margin-top:10%;
}

.tile.is-child.box.deadlines {
    border-style: solid;
    border-color: #DBC39A;
    border-width: thick;
}

.tile.is-child.box.tasks {
    border-style: solid;
    border-color: #DACAC4;
    border-width: thick;
}

.deadlineImgContainer {
    max-height: 350px;
    max-width: 350px;
}

.deadline-card-content {
    background-color: #DACAC4;
    color: black;
}

.container-card-tasks {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}

.tile.is-vertical.is-parent.notebook {
    background-color: #DAE7DD;
}

/* .buttonNotebook {
    background-color:#F7C9B6 ;
} */