

.column.friends {
    display: flex;
    flex-direction: row;
}

.friend.home {
    display: flex;
    flex-direction: row;
}

.content-friends {
    display:flex;
    flex-direction: row;;
}
.tile.is-child.box.friend {
    display:flex;
    flex-direction: row;

}

.notebooksCardContainer-home {
    display: flex;
    flex-flow: wrap;
}

.tile.is-child.box.notebooks {
    display: flex;
    justify-content: space-evenly;
    flex-flow: wrap;
}

/* .home-notebooks {
    display: flex;
   align-items: inherit;
   justify-content: center;
   /* You can set flex-wrap and
      flex-direction individually */
  
   /* tweak where items line
      up on the row
      valid values are: flex-start,
      flex-end, space-between,
      space-around, stretch */

 

.home-notebooks {
    display: flex;
    justify-content: center;
    /* You can set flex-wrap and
       flex-direction individually */
    flex-direction: row;
    flex-wrap: wrap;
}

.noteImgContainer {
    display: flex;
    justify-content: center;
    
}

.imgHomeNotebook {
    max-width: 400px;
}

.tile.is-child.box.pic {
    border-style: solid;
    border-color: #DAE7DD;
    border-width: thick;
    margin-top: 10%;
}

.tile.is-child.box.notebooks {
    border-style: solid;
    border-color: #F7C9B6;
    border-width: thick;
    margin-top:10%;
}

.tile.is-child.box.deadlines {
    border-style: solid;
    border-color: #DBC39A;
    border-width: thick;
}

.tile.is-child.box.tasks {
    border-style: solid;
    border-color: #DACAC4;
    border-width: thick;
    border-radius: 6px;
}
.tile.is-child.box.task {
  background-color: #F7C9B6;
  opacity:70%;
}

.deadlineImgContainer {
    max-height: 350px;
    max-width: 350px;
}

.deadline-card-content {
    background-color: #DACAC4;
    opacity: 80%;
    color: black;
    border-radius: 6px;
}

.container-card-tasks {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}

/* .tile.is-vertical.is-parent.notebook {
    background-color: #DAE7DD;
} */

/* .buttonNotebook {
    background-color:#F7C9B6 ;
} */

.box.deadline-card {
    border-radius: 6px;
}