

img {
  display: block;
  border: 0;
  width: 100%;
  height: auto;
}

.note.card{
  width: 65%;
  max-width : 480px;
  margin: 0 auto;
}


body,
button,
input,
select,
textarea {
color: #404040;
font-family: 'Comfortaa', Arial, sans-serif;
font-size: 14px;
line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
font-family: 'Patua One', serif;
letter-spacing: 2px;
}

p {
margin-bottom: 1.5em;
color: #d6fcff;
color: darkslateblue;
}

strong {
font-weight: bold;
}

address {
margin: 0 0 1.5em;
}

img {
display: block;
border: 0;
width: 100%;
height: auto;
}

.section-content {
padding: 1.4em;
}

.container-cards {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}

.cloudinaryContainer{
    display: flex;
    justify-content: flex-end;
    margin-left: 195px;
    max-width: 300px;
    max-height: 200px;
    overflow: hidden;

}
.noteImg {
  height: auto;
  width: 300px;
  display: flex;
  justify-content: center;
  justify-self: center;
  margin-left: 37%;
  background-color: white;
  border-radius: 10%;
}

.title.is-4 {
  background-color: #F7C9B6;
}

.box.container.note {
  background-color: #DAE7DD;
}

.panel.notesList {
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 5%;
}

.panel-block.is-active-hover {
  background-color: #DAE7DD !important;
}

.panel-block:hover{
  background-color: #DAE7DD !important;
  opacity:90%;
}

.panel-heading {
  background-color:#DACAC4 !important;
}