small {
    font-size: 75%;
  }
  
  header {
    background-color:#EAECEB;
    border: #EAECEB solid 3px;
  }
  
  .site-title {
    color: black;
    text-align: center;
  }
  
  nav .container {
    display: flex;
    padding: 0;
    margin-bottom: 0;
    width: 100%
  }
  
  nav {
    flex: 1;
    padding: 10px;
    text-align: center;
    font-size: 1.5em;
    color: #FECCC3;
    box-sizing: border-box;
    background-color: #C6C1BE;
    list-style-type: none;
  }
  
  nav .container a {
    color: black;
  }
  
  nav .container a:hover {
    color: maroon;
  }

  .ProfilePic {
    max-height: 50px;
    max-width: 50px;
    border-radius: 100px;
  }

  .navbarHead {
    margin-bottom: 3% ;
  }