small {
    font-size: 75%;
  }
  

  
  .site-title {
    color: black;
    text-align: center;
  }
  
  nav .container {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-bottom: 0;
    width: 100%
  }
  
  nav {
    flex: 1;
    justify-content: space-between stretch;
    padding: 10px;
    text-align: center;
    font-size: 1.5em;
    box-sizing: border-box;
  
    list-style-type: none;
  }
  
  nav .container a {
    color: black;
  }
  
  nav .container a:hover {
    color: maroon;
  }

  .ProfilePic {
    max-height: 50px;
    max-width: 50px;
    border-radius: 100px;
  }

  .navbarHead {
    margin-bottom: 3% ;
  }

  .navbarHead {
    background-color: #DACAC4;
  }