/* body {
    background: url(https://www.ppt-backgrounds.net/thumbs/lined-paper-texture-clip-art-slides-backgrounds.jpg)no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
} */

.loginImg {
    height: auto;
    width: 300px;
    display: flex;
    justify-content: center;
    justify-self: center;
    margin-left: 27%;
    background-color: white;
    border-radius: 10%;
}



.box.container.login {
    background-color: #DAE7DD
    ;
}

header {
    background-color: #DACAC4;
}
.box.container.login {
    max-width: 700px;
    margin-top: 5em;
}